.form {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.submitted {
  color: #fff;
  font-size: 36px;
}

.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.label {
  color: #fff;
  font-size: 36px;
}

.input {
  display: block;
  border: 1px solid #333;
  background: #fff;
  height: 40px;
  width: 350px;
  border-radius: 4px;
  font-size: 18px;
  padding: 0 12px;
}

.input:not(:last-child) {
  margin-bottom: 40px;
}

.button {
  display: block;
  border: 2px solid red;
  color: #fff;
  background-color: #202020;
  height: 50px;
  width: 350px;
  border-radius: 4px;
  font-size: 18px;
  padding: 0 12px;
  font-family: 'LemonMilk';
  cursor: pointer;
}
